<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col col-4 *ngFor="let img of imageList">
        <img [src]="img" />
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
